## Importing all the neccessary libraries

In [1]:
import numpy as np
import pandas as pd
import pyodbc

## Load my dataset

In [2]:
import pyodbc
import pandas as pd

# ODBC connection string
conn_str = (
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=.\\SQLEXPRESS01;"
    "Database=HighCourtDB1;"
    "Trusted_Connection=yes;"
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
cursor.execute("SELECT * FROM HighCourtCases")

rows = cursor.fetchall()
columns = [column[0] for column in cursor.description]
df = pd.DataFrame.from_records(rows, columns=columns)
print(df.head(90))

cursor.close()
conn.close()

    Case_id Country CalendarDay         HighCourtName  \
0         1   India  2025-09-16  Allahabad High Court
1         2   India  2025-09-16  Allahabad High Court
2         3   India  2025-09-16  Allahabad High Court
3         4   India  2025-09-16  Allahabad High Court
4         5   India  2025-09-16     Bombay High Court
..      ...     ...         ...                   ...
85       86   India  2025-09-16     Madras High Court
86       87   India  2025-09-16     Madras High Court
87       88   India  2025-09-16     Madras High Court
88       89   India  2025-09-16      Patna High Court
89       90   India  2025-09-16      Patna High Court

                        HighCourtBench CourtCaseType  \
0                      Allahabad Bench         Civil
1                      Allahabad Bench      Criminal
2   Allahabad High Court Lucknow Bench         Civil
3   Allahabad High Court Lucknow Bench      Criminal
4                  Bench at Aurangabad         Civil
..                                 ...           ...
85  Madurai Bench of Madras High Court      Criminal
86           Principal Bench Tamilnadu         Civil
87           Principal Bench Tamilnadu      Criminal
88               Principal Bench Patna         Civil
89               Principal Bench Patna      Criminal

    CasesInstitutedLastMonth  CasesDisposedLastMonth  PendingCasesLessThan1Yr  \
0                      12572                   10968                    79560
1                      15757                   13058                   104582
2                       3880                    2676                    27925
3                       4461                    3056                    26663
4                       2077                   45515                    28803
..                       ...                     ...                      ...
85                      3915                    5510                    17952
86                     15230                   12704                   103467
87                      5128                    5302                    14105
88                      2641                    2059                    35166
89                     10138                    8964                    41729

    PendingCases1To3Yr  ...  FirstAppealCases  AppealCases  PetitionCases  \
0                60715  ...             72499         7342          23190
1                72103  ...                 0       189123            127
2                19804  ...             11224         4659           7267
3                14070  ...                 1        51787             54
4                20862  ...             14972         4033           2465
..                 ...  ...               ...          ...            ...
85               11138  ...                 0         3672              0
86               53885  ...              4950          943              0
87                9315  ...                 0         6005              0
88               20946  ...              5724         9849          21880
89               14801  ...                 0        45534          48010

    RevisionCases  ReferenceCases  SuitCases  ReviewCases  ApplicationCases  \
0            5720               7         75         1075              6238
1           48926               0          0           29            182958
2             737               4          1            0               689
3            9294               0          0            0             23427
4            3368               2          0          467             19358
..            ...             ...        ...          ...               ...
85           2482               0          0            0             18986
86           5816               0          0         1424             21520
87           2026               0          0            0              5699
88            917               0         43         1020                 7
89           4265               5          0            0               191

    CasesInstitutedCurrentYear  CasesDisposedCurrentYear
0                        69749                     83329
1                        92279                    118376
2                        26080                     32218
3                        23756                     33588
4                        69665                     25416
..                         ...                       ...
85                       30244                     33561
86                      114941                    125739
87                       51741                     49517
88                       18188                     22514
89                       67241                     76159

[90 rows x 25 columns]

In [3]:
df

,Case_id,Country,CalendarDay,HighCourtName,HighCourtBench,CourtCaseType,CasesInstitutedLastMonth,CasesDisposedLastMonth,PendingCasesLessThan1Yr,PendingCases1To3Yr,...,FirstAppealCases,AppealCases,PetitionCases,RevisionCases,ReferenceCases,SuitCases,ReviewCases,ApplicationCases,CasesInstitutedCurrentYear,CasesDisposedCurrentYear
0,1,India,2025-09-16,Allahabad High Court,Allahabad Bench,Civil,12572,10968,79560,60715,...,72499,7342,23190,5720,7,75,1075,6238,69749,83329
1,2,India,2025-09-16,Allahabad High Court,Allahabad Bench,Criminal,15757,13058,104582,72103,...,0,189123,127,48926,0,0,29,182958,92279,118376
2,3,India,2025-09-16,Allahabad High Court,Allahabad High Court Lucknow Bench,Civil,3880,2676,27925,19804,...,11224,4659,7267,737,4,1,0,689,26080,32218
3,4,India,2025-09-16,Allahabad High Court,Allahabad High Court Lucknow Bench,Criminal,4461,3056,26663,14070,...,1,51787,54,9294,0,0,0,23427,23756,33588
4,5,India,2025-09-16,Bombay High Court,Bench at Aurangabad,Civil,2077,45515,28803,20862,...,14972,4033,2465,3368,2,0,467,19358,69665,25416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,India,2025-09-16,Madras High Court,Madurai Bench of Madras High Court,Criminal,3915,5510,17952,11138,...,0,3672,0,2482,0,0,0,18986,30244,33561
86,87,India,2025-09-16,Madras High Court,Principal Bench Tamilnadu,Civil,15230,12704,103467,53885,...,4950,943,0,5816,0,0,1424,21520,114941,125739
87,88,India,2025-09-16,Madras High Court,Principal Bench Tamilnadu,Criminal,5128,5302,14105,9315,...,0,6005,0,2026,0,0,0,5699,51741,49517
88,89,India,2025-09-16,Patna High Court,Principal Bench Patna,Civil,2641,2059,35166,20946,...,5724,9849,21880,917,0,43,1020,7,18188,22514
89,90,India,2025-09-16,Patna High Court,Principal Bench Patna,Criminal,10138,8964,41729,14801,...,0,45534,48010,4265,5,0,0,191,67241,76159

## Analyzing my dataset

In [4]:
df.shape

(90, 25)

In [5]:
# Renaming the features
rename_map = {
    "Case_id": "case_id",
    "Country": "country",
    "CalendarDay": "calendar_day",
    "HighCourtName": "high_court_name",
    "HighCourtBench": "high_court_bench",
    "CourtCaseType": "court_case_type",
    "CasesInstitutedLastMonth": "instituted_last_month",
    "CasesDisposedLastMonth": "disposed_last_month",
    "PendingCasesLessThan1Yr": "pending_lt1y",
    "PendingCases1To3Yr": "pending_1to3y",
    "PendingCases3To5Yr": "pending_3to5y",
    "PendingCases5To10Yr": "pending_5to10y",
    "PendingCasesAbove10Yr": "pending_gt10y",
    "WritPetitionCases": "writ_cases",
    "SecondAppealCases": "second_appeal_cases",
    "FirstAppealCases": "first_appeal_cases",
    "AppealCases": "appeal_cases",
    "PetitionCases": "petition_cases",
    "RevisionCases": "revision_cases",
    "ReferenceCases": "reference_cases",
    "SuitCases": "suit_cases",
    "ReviewCases": "review_cases",
    "ApplicationCases": "application_cases",
    "CasesInstitutedCurrentYear": "instituted_current_year",
    "CasesDisposedCurrentYear": "disposed_current_year",
}

df.rename(columns=rename_map, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   case_id                  90 non-null     int64
 1   country                  90 non-null     object
 2   calendar_day             90 non-null     object
 3   high_court_name          90 non-null     object
 4   high_court_bench         90 non-null     object
 5   court_case_type          90 non-null     object
 6   instituted_last_month    90 non-null     int64
 7   disposed_last_month      90 non-null     int64
 8   pending_lt1y             90 non-null     int64
 9   pending_1to3y            90 non-null     int64
 10  pending_3to5y            90 non-null     int64
 11  pending_5to10y           90 non-null     int64
 12  pending_gt10y            90 non-null     int64
 13  writ_cases               90 non-null     int64
 14  second_appeal_cases      90 non-null     int64
 15  first_appeal_cases       90 non-null     int64
 16  appeal_cases             90 non-null     int64
 17  petition_cases           90 non-null     int64
 18  revision_cases           90 non-null     int64
 19  reference_cases          90 non-null     int64
 20  suit_cases               90 non-null     int64
 21  review_cases             90 non-null     int64
 22  application_cases        90 non-null     int64
 23  instituted_current_year  90 non-null     int64
 24  disposed_current_year    90 non-null     int64
dtypes: int64(20), object(5)
memory usage: 17.7+ KB

### Q2 Which Court Case Type has the highest total pending cases (all age groups combined)?

In [7]:
# Making a new column which have the sum of all pending cases for Civil and Criminal

df['total_pending_cases'] = (
    df['pending_lt1y'] +
    df['pending_1to3y'] +
    df['pending_3to5y'] +
    df['pending_5to10y'] +
    df['pending_gt10y']
)

case_type_totals = df.groupby('court_case_type')['total_pending_cases'].sum()
highest_value = case_type_totals.max()
highest_case_type = case_type_totals.idxmax()

print(f"{highest_case_type} has the highest total pending cases: {highest_value}")

Civil has the highest total pending cases: 4462665

### Q3 What is the median number of writ petition cases across all High Courts?

In [8]:
writ_petition_cases = df['writ_cases'].median()
print(f"The median number of writ petition cases across all High Courts is: {int(writ_petition_cases)}")

The median number of writ petition cases across all High Courts is: 1334

### Q4 Which High Court has the maximum number of total appeal cases?

In [9]:
total_appeal_cases = df.groupby('high_court_name')['appeal_cases'].sum()
max_appeal_cases = total_appeal_cases.max()
max_appeal_court = total_appeal_cases.idxmax()

print(f"{max_appeal_court} has the maximum number of total appeal cases: {int(max_appeal_cases)}")

Allahabad High Court has the maximum number of total appeal cases: 252911

### Q5 Add a new column BacklogRatio = Pending Cases Above 10 Years รท Total Pending Cases.

In [10]:
df['BacklogRatio'] = df['pending_gt10y'] / df['total_pending_cases']
df['BacklogRatio'] = df['BacklogRatio'].round(3)

In [11]:
df['BacklogRatio'].head(2)

0    0.407
1    0.358
Name: BacklogRatio, dtype: float64

### Q6 Show the top 5 High Courts with the highest BacklogRatio.

In [12]:
top_5_high_courts = df.sort_values(by='BacklogRatio', ascending=False).head(5)
top_5_high_courts[['high_court_name', 'BacklogRatio']]

         high_court_name  BacklogRatio
0   Allahabad High Court         0.407
24   Calcutta High Court         0.393
22   Calcutta High Court         0.390
1   Allahabad High Court         0.358
71  High Court of Orissa         0.348

### Q7 Which High Court has the maximum application cases?

In [13]:
max_cases = df.sort_values(by='application_cases', ascending=False).head(1)
print(f"{max_cases['high_court_name'].values[0]} has the maximum application cases with {max_cases['application_cases'].values[0]} cases.")

Allahabad High Court has the maximum application cases with 182958 cases.

### Q8 Find the average number of disposed cases in the current year grouped by Court Case Type.

In [14]:
disposed_cases = df.groupby('court_case_type')['disposed_current_year'].mean()
print(disposed_cases)

court_case_type
Civil       23864.155556
Criminal    17079.822222
Name: disposed_current_year, dtype: float64

### Q9 Get summary statistics (mean, min, max) of instituted cases last month.

In [15]:
summary = df['instituted_last_month'].agg(['mean', 'min', 'max'])
print((summary).round(2))

mean     2447.76
min         0.00
max     15757.00
Name: instituted_last_month, dtype: float64

### Q10 From the DataFrame, select the first 10 High Courts where pending cases above 10 years form more than 20% of total pending cases.

In [16]:
epending_cases_above_10 = df[df['pending_gt10y'] > 0.2 * df['total_pending_cases']]
epending_cases_above_10 = epending_cases_above_10.head(10)
epending_cases_above_10[['high_court_name','total_pending_cases']]

         high_court_name  total_pending_cases
0   Allahabad High Court               486369
1   Allahabad High Court               482920
2   Allahabad High Court               134587
3   Allahabad High Court                92758
4      Bombay High Court               120875
8      Bombay High Court                40273
9      Bombay High Court                11158
12     Bombay High Court               202478
16     Bombay High Court                   57
22   Calcutta High Court                16847

### Q11 Create a Series of total instituted cases (last month) by High Court using indexing and display the top 5 with the highest values.

In [17]:
total_instituted_cases = df.sort_values(by= 'instituted_last_month', ascending = False).head(5)
total_instituted_cases[['high_court_name', 'instituted_last_month']]

                     high_court_name  instituted_last_month
1               Allahabad High Court                  15757
86                 Madras High Court                  15230
0               Allahabad High Court                  12572
89                  Patna High Court                  10138
73  High Court of Punjab and Haryana                   9339